body{
    display:flex;
    flex-direction: column;
}

.header{
    display:flex;
    height:200px;
    align-items: center;
    justify-content: space-between;
    background-color: darkslateblue;
    padding:auto 20px;
}

.logo{
    display:flex;
    flex-shrink: 0;
}

h2 {
    font-size:24px;
    color:#E5E7EB;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}

.small-icon{
    height:150px;
    width:150px;
}

ul{
    display:flex;
    gap: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
}

li, p, a {
    font-size:18px;
    color:#E5E7EB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section1 {
    height: 500px;
    width:auto;
    flex-shrink: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/sonic-banner.png");
}

.left-side{
    display:flex;
    flex-direction: column;
}

h1{
    font-size:48px;
    font-weight:900;
    color:#E5E7EB;
    font-family:'Courier New', Courier, monospace;
}

button{
    border-radius: 15px;
    font-size:18px;
    color:#E5E7EB;
    border-color: #E5E7EB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: cornflowerblue;
    border-style: double;
    border-width: 5px;
    padding: 5px 20px;
}

.top-pic{
    height: 300px;
    width:auto;
}

.section2 {
    background-color: white;
    height:350px;
    width:auto;
    display:flex;
    flex-direction: column;
}

h3{
    color:darkslateblue;
    font-size: 36px;
    font-weight: 900;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}

.card{
    display:flex;
    flex-direction: column;
    width:250px;
    height:auto;
    padding:5px;
}

.icon{
    height:250px;
    width:250px;
    border-radius: 15px;
    border-width: 5px;
    border-color: cornflowerblue;
}

.section3 {
    height: 500px;
    width:auto;
    flex-shrink: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/sonic-bottom.png");
}

.quote{
    display:flex;
    flex-direction: column;
    align-items: baseline;
}

h4{
    font-style: italic;
    font-size: 36px;
    color:darkslateblue;
    padding:0;
    margin:0;
}

h5{
    font-weight:bold;
    font-size: 24px;
    color:darkslateblue;
    align-self: end;
}

.section2 {
    background-color: white;
    height:350px;
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: cornflowerblue;
    border-radius: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: auto 25px;
    height: 250px;
}

.box-left{
    display:flex;
    flex-direction: column;
    align-items: baseline;
}

.footer{
    display:flex;
    height:100px;
    align-items: center;
    justify-content:center;
    background-color: darkslateblue;
}